.app {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
}

.header {
  background-color: #333;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #222;
}

.content {
  text-align: center;
  justify-content: center;
  display: flex;
  min-height: 30vh;
  padding: 5vh;
}

.button, .textInput {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 3px;
  font-weight: bold;
  font-size: .7rem;
  box-shadow: none;
  border: none
}

.textInput {
  width: 270px;
}

.map {
  width: 100vw;
  height: 92vh;
}

.data {
  display: flex;
}

.featureList {
  position: absolute;
  right: 0;
  width: 15vw;
  min-width: 200px;
  height: 83vh;
  z-index: 999;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff;
  box-shadow: -1px 4px 9px rgba(0,0,0, .2);
  padding-bottom: 70px;
}

.featureList .feature {
  padding: 10px 0;
}

.featureList .feature:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,.1)
}

f